
# development requirements

pytest
mypy
# setuptools
types-python-dateutil
build
toml
twine
wheel
pkginfo # occasionally we need to upgrade this or we can get upload errors when it's out of sync
# the error may look like the following
# ERROR    InvalidDistribution: Metadata is missing required fields: Name, Version.                                                
#          Make sure the distribution includes the files where those fields are specified, and is using a supported                
#          Metadata-Version: 1.0, 1.1, 1.2, 2.0, 2.1, 2.2, 2.3. 